<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- #region Titulo -->
    <div class="header">
      <div class="titulo" *ngIf="!esAlta && !esModificar && !esBaja">
        <button class="boton-atras" routerLink="/home">
          <img src="../../../../assets/images/atras.png" />
        </button>
        <ion-title> ABM Clientes </ion-title>
      </div>

      <ion-title *ngIf="esAlta">Alta Cliente</ion-title>
      <ion-title *ngIf="esModificar">Modificar Cliente</ion-title>
      <ion-title *ngIf="esBaja">Baja Cliente</ion-title>

      <div *ngIf="!esAlta && !esModificar && !esBaja">
        <button class="btn btn-secondary boton-alta" (click)="esAlta = true">
          CREAR
        </button>
      </div>
    </div>
    <!-- #endregion Titulo -->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="page-container">
    <div *ngIf="!esAlta && !esModificar && !esBaja">
      <!-- #region Listado -->
      <div class="cartas">
        <div *ngFor="let item of lista">
          <div class="card">
            <label style="text-align: center"
              ><span>{{ item.id }}</span></label
            >
            <label><span>NOMBRE: </span>{{ item.nombre | capitalize }}</label>
            <label
              ><span>APELLIDO: </span>{{ item.apellido | capitalize }}</label
            >
            <label><span>DNI: </span>{{ item.dni }}</label>
            <img class="img-perfil" [src]="item.foto" />
            <label
              ><span>ESTADO: </span>
              {{
                item.habilitado === true ? "Habilitado" : "Inhabilitado"
              }}</label
            >
            <label><span>CORREO: </span>{{ item.correo }}</label>
            <button
              class="btn btn-secondary boton-modificar"
              (click)="clienteSeleccionado = item; esModificar = true"
            >
              MODIFICAR
            </button>
            <button
              class="btn btn-secondary boton-baja"
              (click)="clienteSeleccionado = item; esBaja = true"
            >
              ELIMINAR
            </button>
          </div>
        </div>
      </div>
      <!-- #endregion Listado -->
    </div>

    <div *ngIf="esAlta">
      <!-- #region Formulario Modo Alta -->
      <app-formulario-cliente
        [modoAlta]="true"
        (handlerTerminado)="esAlta = false"
      ></app-formulario-cliente>
      <!-- #endregion Formulario Modo Alta -->
    </div>

    <div *ngIf="esModificar && clienteSeleccionado !== undefined">
      <!-- #region Formulario Modo Modificar -->
      <app-formulario-cliente
        [modoModificar]="true"
        [cliente]="clienteSeleccionado"
        (handlerTerminado)="
          clienteSeleccionado = undefined; esModificar = false
        "
      ></app-formulario-cliente>
      <!-- #endregion Formulario Modo Modificar -->
    </div>

    <div *ngIf="esBaja && clienteSeleccionado !== undefined">
      <!-- #region Formulario Modo Baja -->
      <app-formulario-cliente
        [modoBaja]="true"
        [cliente]="clienteSeleccionado"
        (handlerTerminado)="clienteSeleccionado = undefined; esBaja = false"
      ></app-formulario-cliente>
      <!-- #endregion Formulario Modo Baja -->
    </div>
  </div>
</ion-content>

<!-- <ion-footer [translucent]="true">
  <ion-toolbar>
    <div class="footer">
      <button class="btn btn-primary" routerLink="/home">Home</button>
    </div>
  </ion-toolbar>
</ion-footer> -->
