<ion-header>
  <ion-toolbar>
    <div class="header-container">
      <div class="inicio">
        <button class="btn btn-primary" routerLink="/home">
          <i class="bi bi-house" style="font-size: 30px"></i>
        </button>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="content-container">
    <!-- #region Confirmacion -->
    <div *ngIf="cliente !== undefined && mesa !== undefined">
      <div class="card card-mesa">
        <label style="text-align: center">
          <span class="id-span">{{ mesa.id }} </span>
        </label>
        <label>
          <span>CANT-CLI: </span>
          {{ mesa.cantidadClientes }}
        </label>
        <label>
          <span>CANT-MÁX: </span>
          {{ mesa.cantidadMaxima }}
        </label>
        <label>
          <span>TIPO: </span>
          {{ (mesa.tipo === "estandar" ? "estándar" : mesa.tipo) | capitalize }}
        </label>
        <img class="mesa-qr" [src]="mesa.qr" />
        <img class="mesa-foto" [src]="mesa.foto" />
      </div>

      <div class="card card-cliente">
        <label style="text-align: center">
          <span class="id-span">
            {{ cliente.id }}
          </span>
        </label>
        <label>
          <span>NOMBRE: </span>
          {{ cliente.nombre | capitalize }}
        </label>
        <label>
          <span>APELLIDO: </span>
          {{ cliente.apellido | capitalize }}
        </label>
        <label>
          <span>DNI: </span>
          {{ cliente.dni }}
        </label>
        <img class="cliente-foto" [src]="cliente.foto" />
        <label>
          <span>ESTADO: </span>
          {{ cliente.habilitado === true ? "Habilitado" : "Inhabilitado" }}
        </label>
        <label>
          <span>CORREO: </span>
          {{ cliente.correo }}
        </label>
      </div>
    </div>
    <!-- #endregion Confirmacion -->
  </div>
</ion-content>

<div *ngIf="cliente !== undefined && mesa !== undefined">
  <ion-footer>
    <ion-toolbar>
      <div class="footer-container">
        <button class="btn btn-primary boton-asignar" (click)="vincular()">
          Asignar
        </button>
      </div>
    </ion-toolbar>
  </ion-footer>
</div>
