.formulario-container {
  border: 2px solid white;
  border-radius: 15px;
  padding: 5px;
}

input {
  width: 100%;
}
label {
  color: orange;
  font-size: 18px;
}

.area {
  display: flex;
  flex-direction: row;
}

.nombre,
.apellido,
.dni,
.cuil,
.foto,
.correo,
.clave,
.botones-registro {
  padding: 8px;
}

.nombre,
.apellido,
.dni,
.cuil,
.foto,
.correo,
.clave {
  width: 100%;
}

.boton-registro,
.boton-limpiar {
  height: 55px;
}

.boton-registro {
  //width: 205px; // usar solo si esta habilitado boton-limpiar
  width: 100%;
}
.boton-limpiar {
  width: 80px;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  background: linear-gradient(0deg, rgba(255, 61, 0, 0.2) 33%, #ff3d00 100%);
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: #263238;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
