.page-container {
  height: 100%;
  width: 100%;
  padding: 15px;
}

img {
  position: absolute;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  top: 5px;
  right: 5px;
  border: 2px solid black;
}

button {
  width: 100%;
  margin-bottom: 15px;
}

.card {
  background-color: lightgrey;
  color: black;
  padding: 10px;
  margin-bottom: 15px;
}

.card button {
  position: absolute;
  bottom: 5px;
  right: 5px;
  width: auto;
}
