// #region Listado
.img-perfil {
  position: absolute;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  top: 12px;
  right: 12px;
  // border: 2px solid black;
}

.card-cliente {
  // background-color: #323232;
  background-color: #3d1214;
  color: #fff;
  padding: 12px;
  margin-bottom: 15px;
  height: 235px;
}
.card-cliente button {
  position: absolute;
  width: auto;
}
.img-foto {
  position: absolute;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  top: 12px;
  right: 12px;
  // border: 2px solid black;
}

.card-mesa {
  // background-color: #323232;
  background-color: #3d1214;
  color: #fff;
  padding: 12px;
  margin-bottom: 15px;
  height: 195px;
}

.card-mesa button {
  position: absolute;
  width: auto;
}
.img-qr {
  position: absolute;
  height: 70px;
  width: 70px;
  //border-radius: 50%;
  bottom: 12px;
  right: 40%;
  border: 2px solid black;
}

.boton-seleccionar {
  border: solid 2px rgb(208, 151, 58);
  right: 12px;
  bottom: 12px;
}
// #endregion Listado
