<ion-content [fullscreen]="true">
  <div *ngIf="mostrarClientes">
    <!-- #region Listado Clientes -->
    <div *ngFor="let item of listaClientes">
      <div class="card card-cliente">
        <label style="text-align: center"
          ><span class="id-span">{{ item.id }}</span></label
        >
        <label><span>NOMBRE: </span>{{ item.nombre | capitalize }}</label>
        <label><span>APELLIDO: </span>{{ item.apellido | capitalize }}</label>
        <label><span>DNI: </span>{{ item.dni }}</label>
        <img class="img-perfil" [src]="item.foto" />
        <label
          ><span>ESTADO: </span>
          {{ item.habilitado === true ? "Habilitado" : "Inhabilitado" }}</label
        >
        <label><span>CORREO: </span>{{ item.correo }}</label>
        <button
          class="btn btn-secondary boton-seleccionar"
          (click)="clienteSeleccionado = item"
        >
          Seleccionar
        </button>
      </div>
    </div>
    <!-- #endregion Listado Clientes -->
  </div>

  <hr />

  <!-- #region Listado Mesas -->
  <div *ngIf="mostrarMesas">
    <div *ngFor="let item of listaMesas">
      <div class="card card-mesa">
        <label style="text-align: center"
          ><span class="id-span">{{ item.id }}</span></label
        >
        <label><span>CANT-CLI: </span>{{ item.cantidadClientes }}</label>
        <label><span>CANT-MÁX: </span>{{ item.cantidadMaxima }}</label>
        <label
          ><span>TIPO: </span
          >{{
            (item.tipo === "estandar" ? "estándar" : item.tipo) | capitalize
          }}</label
        >
        <img class="img-qr" [src]="item.qr" />
        <img class="img-foto" [src]="item.foto" />
        <button
          class="btn btn-secondary boton-seleccionar"
          (click)="mesaSeleccionada = item"
        >
          Seleccionar
        </button>
      </div>
    </div>
    <!-- #endregion Listado Mesas -->
  </div>

  <hr />

  {{ clienteSeleccionado !== undefined }}
  {{ mesaSeleccionada !== undefined }}

  <button class="btn btn-primary" (click)="vincular()">
    <label>Asignar</label>
  </button>
</ion-content>
