@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Baloo 2", sans-serif;
}

body, html {
  height: 100%;
  margin: 0;
}

.contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #860106;
  height: 100vh;
  padding: 5px;
}

.wrapper {
  width: 100%;
  max-width: 500px;
  background: #1e1e1e;
  backdrop-filter: blur(40px);
  box-shadow: 0 0 10px rgba(175, 13, 13, 0.2);
  color: #fff;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
  font-size: 15px

  p {
    text-align: center;
  }
}

#titulo {
  margin-top: 5px;
  h4 {
    text-align: center;
  }
}

.wrapper h1 {
  font-size: 1.0rem;
  text-align: center;
}

@media (max-width: 600px) {
  .wrapper {
    padding: 5px;
  }

  .wrapper h1 {
    font-size: 1.5rem;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .wrapper {
    padding: 5px 10px;
  }

  .wrapper h1 {
    font-size: 1.75rem;
  }
}

@media (max-height: 600px) {
  .wrapper {
    padding: 3px;
    color: yellow;

  }

  .wrapper h1 {
    font-size: 1rem;
  }

  p, #titulo h4 {
    font-size: 0.5rem;
  }
}
