<div class="contenedor">
  <div class="wrapper">
    <!-- #region Formulario -->
    <form [formGroup]="formRegistrar">
      <div class="area-a">
        <!-- #region Nombre -->
        <div class="form-group nombre">
          <!-- <label>Nombre</label> -->
          <input
            class="form-control"
            type="text"
            formControlName="nombre"
            placeholder="Nombre"
          />
          @if (nombre) { @if (nombre.invalid && (nombre.dirty)) {
          <div class="alert alert-danger" role="alert">Nombre no válido</div>
          } }
        </div>
        <!-- #endregion Nombre -->

        <!-- #region Apellido -->
        <div class="form-group apellido">
          <!-- <label>Apellido</label> -->
          <input
            class="form-control"
            type="text"
            formControlName="apellido"
            placeholder="Apellido"
          />
          @if(apellido) { @if(apellido.invalid && (apellido.dirty)) {
          <div class="alert hide alert-danger" role="alert">
            Apellido no válido
          </div>
          } }
        </div>
        <!-- #endregion Apellido -->
      </div>

      <div class="area-b">
        <!-- #region DNI -->
        <div class="form-group dni">
          <!-- <label>D.N.I.</label> -->
          <input
            class="form-control"
            type="text"
            formControlName="dni"
            placeholder="D.N.I"
          />
          @if (dni) { @if (dni.invalid && dni.dirty) {
          <div class="alert hide alert-danger" role="alert">
            D.N.I no válido
          </div>
          } }
        </div>
        <!-- #endregion DNI -->

        <!-- #region CUIL -->
        <div class="form-group cuil">
          <!-- <label>CUIL</label> -->
          <input
            class="form-control"
            type="text"
            formControlName="cuil"
            placeholder="CUIL"
          />
          @if (cuil) { @if (cuil.invalid && (cuil.dirty)) {
          <div class="alert hide alert-danger" role="alert">CUIL no válido</div>
          }}
        </div>
        <!-- #endregion CUIL -->
      </div>

      <div class="area-c">
        <!-- #region Foto -->
        <div class="foto">
          <!-- <label>Foto</label> -->
          <div class="input-group">
            <button id="btn-foto" (click)="tomarFoto()">Tomar Foto</button>
            <input
              class="form-control"
              type="text"
              readonly
              formControlName="foto"
            />
          </div>
        </div>
        <!-- #endregion Foto -->
      </div>

      <!-- #region Correo -->
      <div class="form-group correo" style="margin-top: 20px">
        <!-- <label>Correo</label> -->
        <input
          class="form-control"
          type="text"
          formControlName="correo"
          placeholder="Correo"
        />
        @if (correo) { @if (correo.invalid && (correo.dirty)) {
        <div class="alert hide alert-danger" role="alert">Correo no válido</div>
        } }
      </div>
      <!-- #endregion Correo -->

      <!-- #region Clave -->
      <div class="form-group clave">
        <!-- <label>Clave</label> -->
        <input
          class="form-control"
          type="password"
          formControlName="clave"
          placeholder="Clave"
        />
        @if (clave) { @if (clave.invalid && (clave.dirty)) {
        <div class="alert hide alert-danger" role="alert">Clave no válida</div>
        }}
      </div>
      <!-- #endregion Clave -->

      <p class="mensaje">{{ mensaje }}</p>

      <!-- #region Boton Registro-->
      <ion-button
        id="btn-registro"
        (click)="registrar()"
        [disabled]="formRegistrar.invalid"
        >Confirmar</ion-button
      >
      <!-- #endregion Boton Registro-->

      <!--
    <button class="btn btn-primary boton-limpiar" (click)="limpiar()">
      Limpiar
    </button>
    --></form>
    <!-- #endregion Formulario -->

    <!-- #region Boton QR -->
    <ion-button id="btn-QR">Escanear DNI</ion-button>
    <!-- #endregion Boton QR -->
  </div>
</div>
