.page-container {
  padding: 15px;
}

// #region Header
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
// #endregion Header

// #region Footer
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.footer button {
  width: 100%;
  margin-right: 7px;
  margin-left: 7px;
}
// #endregion Footer

// #region Listado
.img-foto {
  position: absolute;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  top: 12px;
  right: 12px;
  border: 2px solid black;
}
.img-qr {
  position: absolute;
  height: 70px;
  width: 70px;
  //border-radius: 50%;
  bottom: 12px;
  right: 40%;
  border: 2px solid black;
}

.card {
  background-color: lightgrey;
  color: black;
  padding: 12px;
  margin-bottom: 15px;
  height: 180px;
}

.card button {
  position: absolute;
  width: auto;
  margin-bottom: 0px;
}
// #endregion Listado

// #region Botones ABM
.boton-alta,
.boton-baja,
.boton-modificar {
  border: 0px solid black;
  color: white;
}

.boton-alta {
  background-color: green;
  width: 100px;
  margin-right: 7px;
}

.boton-modificar {
  background-color: orange;
  right: 12px;
  bottom: 12px;
}

.boton-baja {
  background-color: red;
  left: 12px;
  bottom: 12px;
}
// #endregion Botones ABM
