<!-- <div class="wrapper">
  <h1 style="user-select: none">Iniciar Sesión</h1>
  <div class="input-box">
    <input
      type="email"
      [(ngModel)]="correoActual"
      placeholder="Correo"
      ngModel
      email
      required
    />
    <i class="bx bxs-envelope"></i>
  </div>

  <div class="input-box">
    <input
      type="password"
      [(ngModel)]="claveActual"
      placeholder="Contraseña"
      required
    />
    <i class="bx bxs-lock-alt"></i>
  </div>

  <button (click)="ingresar(correoActual, claveActual)" class="btn">
    Ingresar
  </button>
  <p class="mensaje" [ngClass]="{ error: error }" id="mensaje">{{ mensaje }}</p>
</div>

<br />
<div class="accesos">
  <div>
    <h3 style="text-align: center">Accesos Rápidos</h3>
  </div>
  <div class="imagenes">
    <figure>
      <button (click)="autocompletar('1')" class="acceso-btn">
        <img src="../../../assets/emoji2.png" />
      </button>
      admin
    </figure>
    <figure>
      <button (click)="autocompletar('2')" class="acceso-btn">
        <img src="../../../assets/emoji1.png" />
      </button>
      invitado
    </figure>
    <figure>
      <button (click)="autocompletar('3')" class="acceso-btn">
        <img src="../../../assets/emoji3.png" />
      </button>
      usuario
    </figure>
  </div>
</div> -->
