<ion-header>
  <ion-toolbar>
    <ion-item class="usuarios-container">
      <ion-label position="stacked" style="margin-left: 50%">{{
        selectedValue
      }}</ion-label>
      <ion-range
        min="0"
        max="3"
        step="1"
        snaps="true"
        [(ngModel)]="selectedValue"
        (ngModelChange)="cargarUsuario(selectedValue)"
      >
      </ion-range>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding ion-text-center">
  <ion-item class="correo">
    <ion-label class="correo" position="stacked">Correo</ion-label>
    <ion-icon class="correo" name="mail-outline" slot="start"></ion-icon>
    <ion-input
      class="correo"
      type="text"
      [(ngModel)]="usuario.correo"
    ></ion-input>
  </ion-item>

  <ion-item class="clave">
    <ion-label class="clave" position="stacked">Contraseña</ion-label>
    <ion-icon class="clave" name="lock-closed-outline" slot="start"></ion-icon>
    <ion-input
      class="clave"
      type="password"
      [(ngModel)]="usuario.clave"
    ></ion-input>
  </ion-item>

  <img class="logo" src="assets/app/logo-app02.png" />

  <ion-list class="botones-container">
    <ion-button class="iniciar" (click)="inciarSesion()">
      <ion-icon
        *ngIf="!mostrarSpinner"
        class="iniciar"
        name="caret-forward-circle-outline"
      ></ion-icon>
      <div *ngIf="mostrarSpinner" class="spinner-container">
        <span class="spinner"></span>
      </div>
    </ion-button>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar class="titulo ion-text-center">
    <ion-title>Inicio de sesión</ion-title>
  </ion-toolbar>
</ion-footer>
