@font-face {
  font-family: 'monsterama';
  src: url('../../../assets/fonts/monsterama.ttf') format('truetype');
}

ion-content {
  --background: url('../../../assets/fondo.jpg'); // Color de fondo del contenido
}

ion-toolbar {
  --background: #ee0000; // Color de fondo de la barra de herramientas
  color: #fff; // Color del texto en la barra de herramientas
}

ion-title {
  text-align: center;
  font-size: 42px; // Tamaño del título
  font-family: 'monsterama';
}

ion-item {
  --padding-start: 20px; // Añadir espacio al principio del elemento
  --padding-end: 20px; // Añadir espacio al final del elemento
}

ion-input {
  font-family: 'monsterama';
  font-size: 30px; // Tamaño de fuente del input
}

ion-button {
  font-family: 'monsterama';
  --background: #bd0606; // Color de fondo del botón
  --color: #fff; // Color del texto del botón
  font-size: 30px; // Tamaño de fuente del botón
  margin-top: 20px; // Espacio superior del botón
  border: solid 4px rgb(128, 0, 0);
  border-radius: 5px;
}

.contenedorBoton {
  display: flex;
  justify-content: center;
  align-items: center;
}

ion-avatar {
  color: red;
  width: 62px; // Ancho del avatar
  height: 62px; // Alto del avatar
}

ion-list {
  background: rgb(0, 0, 0);
  border: 5px solid black;
  border-radius: 10px;
}

ion-label {
  font-family: 'monsterama';
  font-size: 80px;
}

#cuadro-login {
  background-color: #000000;
}

#footer {
  margin-left: 10px;
  padding: 0px;
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 8px rgb(206, 3, 3);
  border-radius: 10px;
  font-family: 'monsterama';
  font-size: 30px; // Tamaño de fuente de la etiqueta
}