<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <ion-title>
    INICIAR SESIÓN
  </ion-title>

  <ion-list id="cuadro-login">
    <ion-item>
      <ion-input
      type="email" fill="solid" label="CORREO" labelPlacement="floating"
      errorText="Correo no válido" ngModel email [(ngModel)]="correoActual" maxlength="40">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        fill="solid" label="CLAVE" labelPlacement="floating" type="password" value="" [(ngModel)]="claveActual" maxlength="30">
      </ion-input>
    </ion-item> <br>
    <div class="contenedorBoton">
      <ion-button size="large" (click)="ingresar(correoActual, claveActual)">INGRESAR</ion-button>
    </div>
    <ion-item *ngIf="errorInicioSesion" lines="none" color="danger">
      <ion-label>{{ mensajeError }}</ion-label>
    </ion-item>
  </ion-list>

  <ion-list [inset]="true">
    <ion-item-sliding>
      <ion-item [button]="true" (click)="autocompletar('1')">
        <ion-avatar aria-hidden="true" slot="start">
          <img alt="" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>
        <ion-label style="font-family: 'monsterama'; font-size: 30px;">MIGUEL</ion-label>
      </ion-item>
    </ion-item-sliding>

    <ion-item-sliding>
      <ion-item [button]="true" (click)="autocompletar('2')">
        <ion-avatar aria-hidden="true" slot="start">
          <img alt="" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>
        <ion-label style="font-family: 'monsterama'; font-size: 30px;">PEPE</ion-label>
      </ion-item>
    </ion-item-sliding>

    <ion-item-sliding>
      <ion-item [button]="true" (click)="autocompletar('3')">
        <ion-avatar aria-hidden="true" slot="start">
          <img alt="" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>
        <ion-label style="font-family: 'monsterama'; font-size: 30px;">LOLO</ion-label>
      </ion-item>
    </ion-item-sliding>
  </ion-list>

  <div id="footer">
    <p>GIL MIGUEL ÁNGEL  -  PPS - 4TO A</p>
  </div>

</ion-content>