<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="header-container">
      <div class="inicio">
        <button class="btn btn-primary" routerLink="/home">
          <i class="bi bi-house" style="font-size: 30px"></i>
        </button>
      </div>

      <div class="titulo">
        <label> Gestión Entidades </label>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="content-container">
    <div class="router-container">
      <button class="btn btn-primary" routerLink="/abm-duenio">
        <label>ABM</label>
        <label>Clientes</label>
      </button>

      <button class="btn btn-primary" routerLink="/asignar-cliente-mesa">
        <label>Asignar</label>
        <label>Cliente a Mesa</label>
      </button>
    </div>
  </div>
</ion-content>
