@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap");

* {
  font-family: "Baloo 2", sans-serif;
}

ion-content {
  --background: #860106;
}
ion-toolbar {
  --background: #1e1e1e;
  color: white;
}

.page-container {
  padding: 10px;
}

// #region Header
.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}
// #endregion Header

// #region Footer
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.footer button {
  width: 100%;
  margin-right: 7px;
  margin-left: 7px;
}
// #endregion Footer

// #region Listado
.img-perfil {
  position: absolute;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  top: 12px;
  right: 12px;
  // border: 2px solid black;
}

.card {
  // background-color: #323232;
  background-color: #3d1214;
  color: #fff;
  padding: 12px;
  margin-bottom: 15px;
  height: 315px;
}

.card button {
  position: absolute;
  width: auto;
}
// #endregion Listado

// #region Botones ABM
.boton-alta,
.boton-baja,
.boton-modificar {
  background: #323232;
  border: 0px solid black;
  color: white;
}

.boton-alta {
  border: solid 2px rgb(65, 158, 65);
  position: absolute;
  top: 10px;
  right: 10px;
  width: 100px;
  text-align: center;
}

.boton-modificar {
  border: solid 2px rgb(208, 151, 58);
  right: 12px;
  bottom: 12px;
}

.boton-baja {
  border: solid 2px rgb(164, 45, 45);
  left: 12px;
  bottom: 12px;
}
// #endregion Botones ABM

span {
  font-weight: bold;
}

.boton-atras {
  background-color: transparent;
  display: inline;
  color: #fff;
  margin-left: 5px;
  margin-top: 4px;
  width: 60px;
  padding: 0px;
}

.titulo {
  display: flex;
}

.id-span {
  font-size: 25px;
}
