<div class="card formulario-container">
  <div *ngIf="modoAlta === true">
    <!-- #region Formulario Alta -->
    <form [formGroup]="formAlta">
      <!-- #region Nombre -->
      <div class="form-group control-nombre">
        <label>Nombre</label>
        <input class="form-control" type="text" formControlName="nombre" />
      </div>
      <!-- #endregion Nombre -->

      <!-- #region Apellido -->
      <div class="form-group control-apellido">
        <label>Apellido</label>
        <input class="form-control" type="text" formControlName="apellido" />
      </div>
      <!-- #endregion Apellido -->

      <!-- #region DNI -->
      <div class="form-group control-dni">
        <label>D.N.I</label>
        <input class="form-control" type="number" formControlName="dni" />
      </div>
      <!-- #endregion DNI -->

      <!-- #region CUIL -->
      <div class="form-group control-cuil">
        <label>CUIL</label>
        <input class="form-control" type="number" formControlName="cuil" />
      </div>
      <!-- #endregion CUIL -->

      <!-- #region Correo -->
      <div class="form-group control-correo">
        <label>Correo</label>
        <input class="form-control" type="email" formControlName="correo" />
      </div>
      <!-- #endregion Correo -->

      <!-- #region Clave -->
      <div class="form-group control-clave">
        <label>Clave</label>
        <input class="form-control" type="password" formControlName="clave" />
      </div>
      <!-- #endregion Clave -->

      <!-- #region Cambiar foto -->
      <div class="form-group control-foto">
        <label>Foto</label>
        <div style="text-align: center">
          <img *ngIf="fotoBlob !== undefined" [src]="fotoBlob" />
        </div>
        <button
          class="btn btn-primary"
          [disabled]="procesando"
          (click)="tomarFoto()"
        >
          {{ fotoBlob === undefined ? "Tomar foto" : "Cambiar foto" }}
        </button>
      </div>
      <!-- #endregion Cambiar Foto -->

      <!-- #region Boton Alta -->
      <div class="form-group control-accion">
        <button
          class="btn btn-primary"
          [disabled]="procesando"
          (click)="accion()"
        >
          <div *ngIf="procesando">
            <div class="loader-container">
              <span class="loader"></span>
            </div>
          </div>

          <div *ngIf="!procesando">Realizar</div>
        </button>
      </div>
      <!-- #endregion Boton Alta -->

      <!-- #region Boton Cancelar -->
      <div class="form-group control-cancelar">
        <button
          class="btn btn-primary"
          [disabled]="procesando"
          (click)="handlerTerminado.emit()"
        >
          Cancelar
        </button>
      </div>
      <!-- #endregion Boton Cancelar -->
    </form>
    <!-- #endregion Formulario Alta -->
  </div>

  <div *ngIf="modoModificar === true && duenio !== undefined">
    <!-- #region Formulario Modificar -->
    <form [formGroup]="formModificar">
      <!-- #region Id -->
      <div class="form-group control-id">
        <label>ID</label>
        <input
          class="form-control"
          type="number"
          readonly
          formControlName="id"
        />
      </div>
      <!-- #endregion Id -->

      <div class="form-group control-nombre">
        <label>Nombre</label>
        <input class="form-control" type="text" formControlName="nombre" />
      </div>
      <!-- #endregion Nombre -->

      <!-- #region Apellido -->
      <div class="form-group control-apellido">
        <label>Apellido</label>
        <input class="form-control" type="text" formControlName="apellido" />
      </div>
      <!-- #endregion Apellido -->

      <!-- #region Cambiar foto -->
      <div class="form-group control-foto">
        <label>Foto</label>
        <div style="text-align: center">
          <img
            *ngIf="fotoBlob !== undefined || duenio.foto !== undefined"
            [src]="fotoBlob === undefined ? duenio.foto : fotoBlob"
          />
        </div>
        <button
          class="btn btn-primary"
          [disabled]="procesando"
          (click)="tomarFoto()"
        >
          {{
            fotoBlob === undefined && duenio.foto === undefined
              ? "Tomar foto"
              : "Cambiar foto"
          }}
        </button>
      </div>
      <!-- #endregion Cambiar Foto -->

      <!-- #region Boton Modificar -->
      <div class="form-group control-accion">
        <button
          class="btn btn-primary"
          [disabled]="procesando"
          (click)="accion()"
        >
          <div *ngIf="procesando">
            <div class="loader-container">
              <span class="loader"></span>
            </div>
          </div>

          <div *ngIf="!procesando">Realizar</div>
        </button>
      </div>
      <!-- #endregion Boton Modificar -->

      <!-- #region Boton Cancelar -->
      <div class="form-group control-cancelar">
        <button
          class="btn btn-primary"
          [disabled]="procesando"
          (click)="handlerTerminado.emit()"
        >
          Cancelar
        </button>
      </div>
      <!-- #endregion Boton Cancelar -->
    </form>
    <!-- #endregion Formulario Modificar -->
  </div>

  <div *ngIf="modoBaja === true && duenio !== undefined">
    <!-- #region Formulario Baja -->
    <form [formGroup]="formBaja">
      <!-- #region Id -->
      <div class="form-group control-id">
        <label>ID</label>
        <input
          class="form-control"
          type="number"
          readonly
          formControlName="id"
        />
      </div>
      <!-- #endregion Id -->

      <!-- #region Nombre -->
      <div class="form-group control-nombre">
        <label>Nombre</label>
        <input
          class="form-control"
          type="text"
          formControlName="nombre"
          readonly
        />
      </div>
      <!-- #endregion Nombre -->

      <!-- #region Apellido -->
      <div class="form-group control-apellido">
        <label>Apellido</label>
        <input
          class="form-control"
          type="text"
          formControlName="apellido"
          readonly
        />
      </div>
      <!-- #endregion Apellido -->

      <!-- #region DNI -->
      <div class="form-group control-dni">
        <label>D.N.I</label>
        <input
          class="form-control"
          type="number"
          formControlName="dni"
          readonly
        />
      </div>
      <!-- #endregion DNI -->

      <!-- #region CUIL -->
      <div class="form-group control-cuil">
        <label>CUIL</label>
        <input
          class="form-control"
          type="number"
          formControlName="cuil"
          readonly
        />
      </div>
      <!-- #endregion CUIL -->

      <!-- #region Correo -->
      <div class="form-group control-correo">
        <label>Correo</label>
        <input
          class="form-control"
          type="email"
          formControlName="correo"
          readonly
        />
      </div>
      <!-- #endregion Correo -->

      <!-- #region foto -->
      <div class="form-group control-foto">
        <label>Foto</label>
        <div style="text-align: center">
          <img [src]="duenio.foto" />
        </div>
      </div>
      <!-- #endregion foto -->

      <!-- #region Boton Baja -->
      <div class="form-group control-accion">
        <button
          class="btn btn-primary"
          [disabled]="procesando"
          (click)="accion()"
        >
          <div *ngIf="procesando">
            <div class="loader-container">
              <span class="loader"></span>
            </div>
          </div>

          <div *ngIf="!procesando">Realizar</div>
        </button>
      </div>
      <!-- #endregion Boton Baja -->

      <!-- #region Boton Cancelar -->
      <div class="form-group control-cancelar">
        <button
          class="btn btn-primary"
          [disabled]="procesando"
          (click)="handlerTerminado.emit()"
        >
          Cancelar
        </button>
      </div>
      <!-- #endregion Boton Cancelar -->
    </form>
    <!-- #endregion Formulario Baja -->
  </div>
</div>
