@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap');

* {
  font-family: "Baloo 2", sans-serif;
}

ion-content {
  --background: #860106;
}

.page-container {
  padding: 15px;
}

// #region Header
.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}
// #endregion Header

// #region Listado
.fotos-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-bottom: 6px;
  img {
    height: 70px;
    width: 70px;
    border-radius: 50%;
  }
}

.img-qr {
  position: absolute;
  height: 70px;
  width: 70px;
  //border-radius: 50%;
  bottom: 12px;
  right: 40%;
  border: 2px solid black;
}

.card {
  background-color: #3d1214;
  color: #fff;
  padding: 12px;
  margin-bottom: 15px;
  height: 225px;
  transition: 0.3s !important;
}

.card button {
  position: absolute;
  width: auto;
}
// #endregion Listado

.boton-agregar {
  background: #860106;
  color: #fff;
  border: none;
  font-size: 20px;
  border-radius: 7px;
  right: 12px;
  bottom: 12px;
  width: 120px !important;
  font-weight: bold;
}

// #region span
span {
  font-weight: bold;
}

.nombre {
  font-size: 25px;
}
.descripcion {
  font-size: 15px;
  color: #ffffffc0;
}
.precio {
  font-size: 25px;
}
// #endregion span

// #region Footer
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #1c1c1c;
  padding: 10px;
  z-index: 1000;
}
.footer button {
  width: 100%;
  margin-right: 7px;
  margin-left: 7px;
}

.info-pedido {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 20px;
}

.importe {
  font-size: 27px;
  font-weight: bold;
}

.btn-confirmar {
  width: 95%;
  height: 50px;
  font-size: 27px;
  background-color:#860106 ;
  border-radius: 10px;
  font-weight: bold;
}
// #endregion Footer

// #region Card seleccionada

.card-seleccionada {
  background-color: #ffffffcc;
  color: #000;

  .descripcion {
    color: #232323;
  }

  button {
    background: #860106;
    color: #fff;
    width: 105px;
  }
}
// #endregion Card seleccionada