<ion-content [fullscreen]="true">
  <div class="background">
    <div class="header">
      <p id="nombre" class="external-paragraph">MIGUEL ÁNGEL GIL</p>
      <p id="nombre" class="external-paragraph">JUAN PABLO HUAMAN</p>
      <p id="nombre" class="external-paragraph">SANTIAGO FERNÁNDEZ</p>
    </div>

    <div class="container ion-text-center">
      <img id="icono" src="../../../../assets/iconoVacio.png" />
    </div>

    <div class="footer">
      <!--<p class="external-paragraph">SEGUNDO PARCIAL</p>-->
      <p id="curso" class="external-paragraph">PPS - 4TO A</p>
    </div>
  </div>
</ion-content>
