@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap');

* {
  box-sizing: border-box;
  font-family: "Baloo 2", sans-serif;
}

.contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
  align-content: center;
}

.wrapper {
  width: 98%;
  background: #1e1e1e;
  backdrop-filter: blur(40px);
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  color: #fff;
  border-radius: 10px;
  padding: 25px;

  p {
    text-align: center;
  }
}

input {
  width: 100%;
}
label {
  color: #b72026;
  font-size: 18px;
  font-weight: bold;
}

.area-a,
.area-b,
.area-c {
  display: flex;
  flex-direction: row;
}

.nombre,
.apellido,
.edad,
.dni,
.cuil,
.foto,
.tipo-empleado,
.correo,
.clave,
.botones-registro {
  padding: 8px;
}

.nombre,
.apellido,
.cuil,
.foto,
.tipo-empleado,
.correo,
.clave {
  width: 100%;
}

.edad input {
  width: 55px;
}
.dni input {
  width: 115px;
}

#btn-registro {
  color: #fff;
  --background: #b72026;
  height: 5vh;
  margin-top: 10px;
  border-radius: 10px;
  width: 100%;
  text-align: center;
  font-size: 25px;
}
#btn-registro:hover {
  background-color: #991b1f;
}

.boton-limpiar {
  width: 80px;
}

#btn-QR {
  color: #fff;
  --background: #3c3c3c;
  height: 5vh;
  margin-top: 15px;
  border-radius: 10px;
  width: 100%;
  text-align: center;
  font-size: 20px;
}

#btn-foto {
  background: #860106;
  padding: 5px;
  border-radius: 3px 0px 0px 3px;
}

.foto input{
  background: transparent;
  border-color: #9a1b1f;
  color: #acacac;
  
}

.wrapper .form-group {
  height: 50px;
  margin: 0px 0px 30px 0px;
}

.form-group input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  // border: 2px solid #4a4a4a;
  border: 2px solid #860106;
  border-radius: 5px;
  font-size: 16px;
  color: #fff;
  padding: 20px 45px 20px 20px;
}

.form-group input::placeholder {
  color: #acacac;
}

.mensaje {
  font-size: 20px;
  width: 100%;
}

.alert {
  background-color: transparent;
  border: none;
  margin: 0px;
  padding: 0px;
  color: #ba6366;
  margin-left: 7px;
}