<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Blank </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container-router">
    <ion-button routerLink="/iniciar-sesion">
      <ion-label>Router iniciar-sesion</ion-label>
    </ion-button>
    <ion-button routerLink="/abm-empleado">
      <ion-label>Router abm-empleado</ion-label>
    </ion-button>
    <ion-button routerLink="/abm-mesa">
      <ion-label>Router abm-mesa</ion-label>
    </ion-button>
  </div>
</ion-content>
