<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="header-container">
      <div class="cerrar-sesion">
        <button class="btn btn-primary" (click)="cerrarSesion()">
          <i class="bi bi-box-arrow-left" style="font-size: 30px"></i>
        </button>
      </div>

      <div class="titulo">
        <label>La Comanda</label>
      </div>

      <div class="test-push">
        <button class="btn btn-success" routerLink="/push-notification">
          Test PUSH
        </button>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="content-container">
    <div *ngIf="mostrarSpinner" class="loader-container">
      <span class="loader"></span>
    </div>

    <div class="router-container">
      <!-- #region Accesos de Dueño -->
      <div *ngIf="!mostrarAbms && usuarioEsEsDuenio">
        <button class="btn btn-primary" routerLink="/seccion-abms">
          <label>Gestión</label>
          <label>Entidades</label>
        </button>
      </div>
      <!-- #endregion Accesos de Dueño -->

      <!-- #region Accesos de Supervisor -->
      <div *ngIf="!mostrarAbms && usuarioEsSupervisor">
        <button class="btn btn-primary" routerLink="/seccion-abms">
          <label>Agregar</label>
          <label>Empleado</label>
        </button>
      </div>
      <!-- #endregion Accesos de Supervisor -->

      <!-- #region Accesos de Empleado -->
      <div
        *ngIf="
          usuarioEsEmpleado &&
          (usuarioTipoEmpleado === 'mozo' || usuarioTipoEmpleado === 'metre')
        "
      >
        <button class="btn btn-primary" routerLink="/abm-cliente">
          <label>Agregar</label>
          <label>Cliente</label>
        </button>
      </div>

      <div
        *ngIf="
          usuarioEsEmpleado &&
          (usuarioTipoEmpleado === 'cocinero' ||
            usuarioTipoEmpleado === 'bartender')
        "
      >
        <button class="btn btn-primary" routerLink="/abm-producto">
          <label>Agregar</label>
          <label>Plato o Bebida</label>
        </button>
      </div>
      <!-- #endregion Accesos de Empleado -->

      <!-- #region Accesos De Cliente -->
      <div *ngIf="usuarioEsCliente">
        <button class="btn btn-primary" (click)="escanearQrMesa()">
          <label>Escanear código QR</label>
          <label>de Mesa</label>
        </button>
      </div>

      <div *ngIf="usuarioEsCliente">
        <button class="btn btn-primary" routerLink="/seccion-encuestas">
          <label>Encuestas</label>
        </button>
      </div>

      <div *ngIf="usuarioEsCliente && !usuarioEstaEnListaEspera">
        <button class="btn btn-primary" (click)="escanearQrIngresoLocal()">
          <label>Escanear código QR</label>
          <label>de ingreso al local</label>
        </button>
      </div>

      <div *ngIf="usuarioEstaEnListaEspera">
        <div class="reloj">
          <img src="../../../../assets/images/reloj.gif" /> <br />
          <h2>En lista de espera...</h2>
        </div>
      </div>
      <!-- #endregion Accesos De Cliente -->

      <!-- #region Accesos Metre -->
      <div *ngIf="usuarioEsEmpleado && usuarioTipoEmpleado === 'metre'">
        <button class="btn btn-primary" routerLink="/asignar-cliente-mesa">
          <label>Vincular</label>
          <label>Mesa</label>
        </button>
      </div>
      <!-- #endregion Accesos Metre -->
    </div>
  </div>
</ion-content>
