<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>La Comanda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-title>La Comanda</ion-title>
  </ion-header>
  <div class="container-router">
    <ion-button routerLink="/abm-duenio"
      ><p>ABM<br />Dueño</p></ion-button
    >
    <ion-button routerLink="/abm-supervisor"
      ><p>ABM<br />Supervisor</p></ion-button
    >
    <ion-button routerLink="/abm-empleado"
      ><p>ABM<br />Empleado</p></ion-button
    >
    <ion-button routerLink="/abm-cliente"
      ><p>ABM<br />Cliente</p></ion-button
    >
    <ion-button routerLink="/abm-mesa"
      ><p>ABM<br />Mesa</p></ion-button
    >
    <ion-button routerLink="/abm-producto"
      ><p>ABM<br />Producto</p></ion-button
    >
  </div>
</ion-content>
