@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Baloo 2", sans-serif;
}

ion-content {
  --background: #860106;
  display: flex;
  justify-content: center;
}

ion-title {
  background: #1e1e1e;
  font-size: 45px;
  text-align: center;
  font-weight: bold;
  color: #fff;
}

.container-router {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 3px;
  align-items: stretch;
  height: 98%;
  margin-top: 5px;
}
ion-button {
  --background: #1e1e1e;
  flex-basis: calc(60% - 1px);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4%;
  font-size: 40px;
  text-align: center;
  color: #860106;
}