@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Baloo 2", sans-serif;
}

// #region Header
.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1e1e1e;
}
.inicio,
.titulo {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 40px;
  margin: 5px;
}
.inicio {
  position: absolute;
  left: 2px;
  width: 50px;
}
.inicio button {
  border: 0px solid black;
  background-color: rgba(black, 0);
}
.inicio i {
  margin-right: 8%;
}
.titulo {
  position: absolute;
  right: 30px;
}
.titulo label {
  margin-top: -2.5%;
  font-size: 35px;
  font-weight: bold;
  color: white;
}
// #endregion Header

// #region Content
ion-content {
  --background: #860106;
}
.content-container {
  height: 100%;
  width: 100%;
}
.router-container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr); // 3 columnas de igual ancho
  grid-template-rows: repeat(auto, 1fr); // 2 filas de igual altura
  padding: 5px;
  gap: 5px;
}
.router-container button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0px solid black;
  background: #1e1e1e;
  color: #860106;
  height: 100%;
  width: 100%;
  font-size: 40px;
  font-weight: bold;
}
button label {
  margin: -15px;
}
// #endregion Content

// #region loader
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 400%;
}
.loader {
  margin-top: 22%;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid var(--t1-color2);
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
// #endregion loader
