<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- #region Titulo -->
    <div class="header">
      <div class="titulo">
        <button class="boton-atras" routerLink="/home">
          <img src="../../../../assets/app/images/atras.png" />
        </button>
        <ion-title> Gestión Entidades </ion-title>
      </div>
    </div>
    <!-- #endregion Titulo -->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="router-container">
    <ion-button routerLink="/abm-duenio"
      ><p>ABM<br />Dueño</p></ion-button
    >
    <ion-button routerLink="/abm-supervisor"
      ><p>ABM<br />Supervisor</p></ion-button
    >
    <ion-button routerLink="/abm-mesa"
      ><p>ABM<br />Mesa</p></ion-button
    >
    <ion-button routerLink="/abm-empleado"
      ><p>ABM<br />Empleado</p></ion-button
    >
  </div>
</ion-content>
