.formulario-container {
  background-color: lightgrey;
  border-radius: 5px;
  padding: 7px;
}

input {
  width: 100%;
}
label {
  color: black;
  font-size: 18px;
}
img {
  height: 70px;
  width: 70px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 2px solid lightsalmon;
}

.img-baja {
  border-radius: 50%;
  border: 2px solid black;
}

.area {
  display: flex;
  flex-direction: row;
}

// #region Controles
.control-id,
.control-tipo,
.control-cantidad-clientes,
.control-cantidad-maxima,
.control-foto,
.control-accion,
.control-cancelar {
  padding: 5px;
  width: 100%;
}

.control-foto {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.control-foto button {
  border: 0px solid black;
  color: white;
  height: 70px;
  width: 288px;
  margin-right: 1px;
}

.control-accion button,
.control-cancelar button {
  border: 0px solid black;
  color: white;
  height: 40px;
  width: 100%;
}

.control-foto button {
  background-color: orange;
  width: 250px;
}

.control-accion button {
  background-color: green;
}

.control-cancelar button {
  background-color: red;
}
// #endregion Controles

// #region Spinner
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader {
  width: 25px;
  height: 25px;
  border: 5px solid #fff;
  border-bottom-color: grey;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.alert {
  background-color: transparent;
  border: none;
  margin: 0px;
  padding: 0px;
  color: #ba6366;
  margin-left: 7px;
}
// #endregion Spinner