.formulario-container {
  background-color: lightgrey;
  padding: 5px;
}

input {
  width: 100%;
}
label {
  color: black;
  font-size: 18px;
}
img {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 2px solid white;
}

.area {
  display: flex;
  flex-direction: row;
}

// #region Controles
.control-id,
.control-tipo,
.control-cantidad-maxima,
.control-foto,
.control-accion,
.control-cancelar {
  padding: 10px;
  width: 100%;
}

.control-foto {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.control-foto button,
.control-accion button,
.control-cancelar button {
  border: 0px solid black;
  color: white;
  height: 40px;
  width: 100%;
}

.control-foto button {
  background-color: orange;
}

.control-accion button {
  background-color: green;
}

.control-cancelar button {
  background-color: red;
}
// #endregion Controles

// #region Spinner
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader {
  width: 25px;
  height: 25px;
  border: 5px solid #fff;
  border-bottom-color: grey;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
// #endregion Spinner
